[Unit]
Description=A-Ops diana service
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/aops-diana start
ExecStop=/usr/bin/aops-diana stop
Restart=on-failure
RestartSec=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
